body{
    background-color: rgb(0, 26, 57);
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
 }

 .home-container{
   /* background-size:cover; */
   /* background-repeat: no-repeat; */
   height: 90vh;
   width: 100%;
 }
 .text {
     color: rgb(255, 187, 187);
     position: absolute;
     top: 40%;
     left: 19%;
     font-size: 80px;
     font-family: poppins; 
  }
  
  .fire {
  
     display: block;
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQia-q_tZYR5sZhI4X1JY0grLShO7jO3AQCOQ&usqp=CAU);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     -webkit-animation: fire 1.2s linear infinite;
     -webkit-backface-visibility: hidden;
  }
  
  @keyframes fire {
     0% {
        background-position: 0% -50%;
     }
  
     0% {
        background-position: 100% -50%;
     }
  
  }
  
  .hello {
     color: white;
     display: flex;
     margin-top: 2rem;
     font-size: 18px;
     padding-right: 59rem;
  }
  
  .hello:hover {
     color: aqua;
     cursor: pointer;
  }
  
  
  .come {
     font-size: 36px;
     font-family: poppins;
     color: white;
     text-align: center;
     top: 55%;
     left: 10%;
     position: absolute;
  }
