/* .main { */
  /* font-family: cursive; */
  /* position: absolute; */
  /* margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 97vh;
  color: white; */
  /* background-image: url(login-bg.avif);
    background-repeat:no-repeat;
    background-size: cover; */
/* } */

.container {
  color: white;
  display: flex;
  margin:auto;
  margin-top: 15vh;
  /* align-items: center; */
  text-align: end;
  justify-content: center;
  border: 2px solid;
  width: 550px;
  height: 45vh;
  font-family: cursive;
}

.login-container {
  color: white;
  display: flex;
  margin:auto;
  margin-top: 15vh;
  /* align-items: center; */
  text-align: end;
  justify-content: center;
  border: 2px solid;
  width: 600px;
  height: 35vh;
  font-family: cursive;
}

.heading {
  margin: 30px;
  text-align: center;
}

.content {
  margin: 15px;
  font-size: large;
  font-weight: 600;
}

.button-align {
  text-align: center;
  margin: 15px;
}

.btn {
  padding: 5px;
  color: aliceblue;
  background-color: black;
  font-weight: 600;
  font-family: cursive;
}

.input {
  width: 250px;
  font-family: cursive;
}

.lg {
  text-decoration: none;
  color: rgb(102, 228, 245);
}
